@page "/reset-password"
@layout Layout.EmptyLayout

<RadzenCard class="rz-mx-auto rz-p-md-12" style="max-width: 600px; margin-top: 200px;">
    <RadzenImage Path="images/anesis-logo-full.png" Style="width: 100%; margin-bottom: 40px;" AlternateText="Anesis" />
    <h3>RESET Password</h3>
</RadzenCard>

@code {

}
