html, body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.d-none {
    display: none !important;
}

.required-near:after {
    content: " *";
    font-weight: bold;
    color: red
}

.text-underline-none {
    text-decoration: none;
}

.custom-input-group .rz-form-field-content {
    margin-block: 0 !important;
}

.custom-input-group .rz-form-field-start, .custom-input-group .rz-form-field-end {
    padding-inline: 0 !important;
}

input::placeholder,
textarea::placeholder,
.rz-placeholder {
    opacity: 0.5;
    font-style: italic;
}

.rz-form-field-content input:disabled,
.rz-form-field-content textarea:disabled {
    box-shadow: var(--rz-input-disabled-shadow) !important;
    background-color: var(--rz-input-disabled-background-color) !important;
    border: var(--rz-input-disabled-border) !important;

    color: var(--rz-input-value-color) !important;
    opacity: 1 !important;
}